/* Variables */
:root {
  --background-color: #aaa;
  --width: 400px;
  --circle-size: 50px;
}

body {
  background-color: var(--background-color);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 600;
}

img {
  max-width: 100%;
  height: 70%;
}

.ticket {
  width: var(--width);
  height: 775px;
  background-color: white;
  margin: 25px auto;
  position: relative;
}

.holes-top {
  height: var(--circle-size);
  width: var(--circle-size);
  background-color: var(--background-color);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: calc(var(--circle-size) / -2);
  top: calc(var(--circle-size) / -2);
}

.holes-top:before,
.holes-top:after {
  content: '';
  height: var(--circle-size);
  width: var(--circle-size);
  background-color: var(--background-color);
  position: absolute;
  border-radius: 50%;
}

.holes-top:before {
  left: calc(var(--width) / -2);
}

.holes-top:after {
  left: calc(var(--width) / 2);
}

.holes-lower {
  position: relative;
  margin: 25px;
  border: 1px dashed #aaa;
}

.holes-lower:before,
.holes-lower:after {
  content: '';
  height: var(--circle-size);
  width: var(--circle-size);
  background-color: var(--background-color);
  position: absolute;
  border-radius: 50%;
}

.holes-lower:before {
  top: -25px;
  left: calc(var(--circle-size) / -1);
}

.holes-lower:after {
  top: -25px;
  left: calc(var(--width) - var(--circle-size));
}

.title {
  padding: 50px 25px 10px;
}

.cinema {
  color: #aaa;
  font-size: 22px;
}

.movie-title {
  font-size: 50px;
}

.info {
  padding: 15px 25px;
}

table {
  width: 100%;
  font-size: 18px;
  margin-bottom: 15px;
}

table tr {
  margin-bottom: 10px;
}

table th {
  text-align: left;
}

table th:nth-of-type(1) {
  width: 38%;
}

table th:nth-of-type(2) {
  width: 40%;
}

table th:nth-of-type(3) {
  width: 15%;
}

table td {
  width: 33%;
  font-size: 32px;
}

.bigger {
  font-size: 48px;
}

.serial {
  padding: 25px;
}

.serial table {
  border-collapse: collapse;
  margin: 0 auto;
}

.serial td {
  width: 3px;
  height: 50px;
}

.numbers td {
  font-size: 16px;
  text-align: center;
}
